/* 
    Document   : gallery
    Created on : Apr 18, 2013, 8:08:10 PM
    Author     : SWARNENDU
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body,
.gallery.x-container{
				background: url(http://freeiphonehdwallpaper.com/wp-content/uploads/blue-texture-iphone-hd-wallpaper-320x480.jpg);
				background-size: 100% 100%;
}

/************************* Gallery *******************************/

#photos {
				/* Prevent vertical gaps */
				line-height: 0;
				-webkit-column-count: 3;
				-webkit-column-gap: 0px;
				margin: 10px 10px 0 15px;

}
#photos img {
				width: 95% !important;
				height: auto !important;
				margin: 0px 0px 10px 0px;
				border: 2px solid rgba(0,0,0,0.4);
				border-radius: 5px;
				padding: 5px;
				background: rgba(0,0,0,0.5);
}

/************************* Gallery ENDS *******************************/


/*********************** Gallery Carousel *************************/


.gallery-carousel {
				z-index: 20;
				background: rgba(0,0,0,0.7);
}

.gallery-item{
				max-width: 100%;
				/*				margin-left: 1%;*/
}

.gallery-carousel .x-carousel-item .x-innerhtml{
				height: 100% !important;
				display: -webkit-box;
				-webkit-box-align: center;
				-webkit-box-pack: center;
}

.gallery-carousel .x-carousel-indicator-dark span {
				background-color: rgba(255,255,255,0.3) !important;
}

.gallery-carousel .x-carousel-indicator-dark span.x-carousel-indicator-active {
				background-color: rgba(255,255,255,1) !important;
}

.gallery-carousel .close-gallery{
				position: absolute;
				-webkit-mask-image: url(../images/close.png);
				-webkit-mask-repeat: no-repeat;
				background: #fff;
				-webkit-mask-size: 32px;
				height: 32px;
				width: 32px;
				margin: 10px;
				right: 0;
}

.gallery-carousel .x-carousel-item .x-innerhtml{
				text-align : center;
}

.gallery-carousel .item{
    max-width : 100%;
				max-height : 100%;
}

.gallery-carousel .nav{
    -webkit-mask: url(../images/arrow.png) no-repeat;
    background: #fff;
    min-width: 16px;
    min-height: 16px;				
    -webkit-mask-position: 12px 6px;
}

.gallery-carousel .gallery-left{
    -webkit-transform: rotate(180deg);
}

.gallery-carousel .gallery-right{

}

.gallery-carousel .gallery-bottombar .x-title{
    font-size: 14px !important;
				color : #fff;
}


/*********************** Gallery Carousel ENDS *************************/